@font-face {
    font-family: 'Avangmi';
    src: url('AVANGMI_.TTF')  format('truetype');
}

@font-face {
    font-family: 'AvangmiLight';
    src: url('AVANGMI_.TTF')  format('truetype');
}

body {
    background-color: #e9e8e4;
    max-width: 400px;
    font-family: 'AvangmiLight';

}

.main {
    text-align: center;
}

.h2{
    background: #333333;
    color: #ffffff;
    width: 100%;
}

.user-thmb {
    width:150px;
}

#restaurant-img {
    background-image: url('/img/rest-img.jpg');
}

#pot-container
{
    background-image: url('/img/restaurant.jpg');
}

#logo {
    background-image: url('/img/logo.jpg') ;
    width: 175px;
    height: 50px;
    float: left;
}

.header {
    height: 55px;
    background: url('/img/header@2x.jpg') no-repeat;
    background-size: 100%;
}

.banner {
    height: 135px;
    background: url('/img/steak@2x.jpg') no-repeat;
    background-size: 100%;
}

.bill-summary {
    height: 180px;
   /* background-color: #204d74;*/
}

.items {
    height: 250px;
    overflow-y: scroll;
}

.items ul {
    padding: 6px;
}

.items ul li {
    height: 55px;
    margin-top: 3px;
    background-color: white;
    list-style: none;
}

.beer {
    background-image: url("/img/corona-boottle@2x.jpg");
    background-size: 100%;
}

.payment {
    background-image: url("/img/payment@2x.jpg");
    background-size: 100%;
}

.tabs-transaction {
    height: 50px;
    background: url('/img/food-items@2x.jpg') no-repeat;
    background-size: 100%;
}

.transaction-buttons {
    height: 45px;
    background: url('/img/pay-buttons@2x.jpg') no-repeat;
    background-size: 100%;
}

.bill-values {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    font-family: AvangmiLight, serif;
    text-align: left;
    height: 130px;
}

.dollar-sign {
    color: #d83037;
    float: left;
    font-size: 50px;
    margin-top: -15px;
}

.value-dollars {
    font-size: 90px;
    margin-top: -20px;
    color: #d83037;
    float: left;
}

.value-cents {
    font-size: 50px;
    margin-top: -10px;
    color: #d83037;
    float: left;
}

.payed-total {
    float: right;
    width: 100px;
    height: 100px;
    margin-top: -20px;
}

.payed-total .dollar-sign {
    font-size: 12px;
    margin-top: -3px;
    color: #ed9b10;
}

.payed-total .value-cents {
    color: #ed9b10;
}

.small-price .value-dollars {
    margin-top: -4px;
    font-size: 22px;
    color: #ed9b10;
}

.small-price .value-cents {
    font-size: 14px;
    margin-top: -5px;
}

.small-price .value-dollars {
    font-size: 20px;
}

.total-bill .dollar-sign, .total-bill .value-dollars, .total-bill .value-cents {
    color: #d83037;
}


/* LOGIN MOCK */
.login-mock {
    width: 375px;
    height: 667px;
    background-image: url("/img/login.jpg");
    background-size: 100%;
}

/* Mom MOCK */
.login-mock {
    width: 375px;
    height: 667px;
    background-image: url("/img/mom.jpg");
    background-size: 100%;
}


/* colorA: ed9801  */
/* colorB: d73037  */
/* colorC:   */
/* red:     d83037  */
/*   */
/*   */

