@font-face {
    font-family: 'Avangmi';
    src: url('AVANGMI_.TTF')  format('truetype');
}

body {
    background-color: #e9e8e4;
    max-width: 400px;
}

.main {
    text-align: center;
}

.h2{
    background: #333333;
    color: #ffffff;
    width: 100%;
}

.user-thmb {
    width:150px;
}

#restaurant-img {
    background-image: url('../img/rest-img.jpg');
}

#pot-container
{
    background-image: url('../img/restaurant.jpg');
}

#logo {
    background-image: url('../img/logo.jpg') ;
    width: 175px;
    height: 50px;
    float: left;
}

.header {
    height: 55px;
    background: url('/img/header@2x.jpg') no-repeat;
    background-size: 100%;
}

.banner {
    height: 135px;
    background: url('/img/steak@2x.jpg') no-repeat;
    background-size: 100%;
}

.bill-summary {
    height: 180px;
   /* background-color: #204d74;*/
}

.items {
    height: 250px;
    overflow-y: scroll;
}

.items ul {
    padding: 6px;
}

.items ul li {
    height: 55px;
    margin-top: 3px;
    background-color: white;
    list-style: none;
}

.beer {
    background-image: url("/img/corona-boottle@2x.jpg");
    background-size: 100%;
}

.payment {
    background-image: url("/img/payment@2x.jpg");
    background-size: 100%;
}

.tabs-transaction {
    height: 50px;
    background: url('/img/food-items@2x.jpg') no-repeat;
    background-size: 100%;
}

.transaction-buttons {
    height: 45px;
    background: url('/img/pay-buttons@2x.jpg') no-repeat;
    background-size: 100%;
}

.bill-values {
    font-family: Avangmi, serif;
    height: 130px;
}

/* colorA: ed9801  */
/* colorB: d73037  */
/* colorC:   */
/*   */
/*   */
/*   */

