<div class="col-lg-6">
    <!--   -->
    <div class="row">
        <div class="col-lg-8">
            Outstanding balance</br>
            $115.30
        </div>
        <div class="col-lg-4">
            <button class="btn btn-default">Split by 4</button>

        </div>

    </div>

    <div class="row">
        <div class="row text-center">
            Amount to pay
        </div>
        <div class="row">
        <div class="col-lg-8">
            <input  value="$65.05">

            </input>
        </div>
        <div class="col-lg-4">

        </div>
        </div>
        <div class="row text-center">
            an even split between <strong>4 people</strong>
        </div>

        <div class="gray-bar">or Choose from transactions</div>

        <div class="items">
            <ul>
                <li class="beer">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 text-left">KJhksdf dsdfsd</div>
                        <div class="col-lg-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="beer"></li>
                <li class="beer"></li>
                <li class="beer"></li>
                <li class="beer"></li>
                <li class="beer"></li>

            </ul>

        </div>

    </div>

    <button ng-click="processPayment()">Checkout</button>
    {{message}}
</div>