<div class="col-lg-5">


    <div class="friends">
        <!--<div class="header"></div>-->
        <div class="header" ng-click="gotoGroup()"></div>
        <div class="banner"></div>
        <div class="near">
            <ul>
                <li ng-repeat="user in unselected">
                    <input type="checkbox" />
                    <img src="../client/img/portrait-{{$index%3+1}}.jpg" />
                    <div>
                        <div class="friend-name">{{user.firstName}}&nbsp;{{user.lastName}}</div>
                        <div class="friend-distance">20 feet</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="other-friends"></div>
        <div class="near" style="height: 125px">
            <ul>
                <li>
                    <input type="checkbox" />
                    <img src="../client/img/portrait-1.jpg" />
                    <div>
                        <div class="friend-name">Mike Jessic</div>
                        <div class="friend-distance">20 feet</div>
                    </div>
                </li>
                <li>
                    <input type="checkbox" />
                    <img src="../client/img/portrait-1.jpg" />
                    <div>
                        <div class="friend-name">Mike Jessic</div>
                        <div class="friend-distance">20 feet</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>
