<div class="col-lg-5">

    <div class="home">
        <div class="header"></div>
<!-- Active Splitsies -->
    <div class="row">



        <div class="" ng-repeat="gr in groups">
            <div class="row">
                <div class="col-lg-2">
                    <img class="thmb" ng-src="/img/{{gr.pictureUrl}}.png">
                </div>
                <div class="col-lg-6 text-center">
                    <h3>{{gr.groupName}}</h3>
                    <h4>{{gr.timestamp | date: "shortTime"}}</h4>
                </div>
                <div class="col-lg-2 text-center">
                    <span class="bill">${{gr.remainBill}}</span>
                </div>
            </div>

        </div>

    </div>
<!-- Public Splitsies -->
    <div class="row">
        <span class="col-lg-12 gray-bar">
            public splitsies
        </span>

            <div class="row">
                <div class="col-lg-2">
                    <img class="thmb" ng-src="/img/smokehouse.png">
                </div>
                <div class="col-lg-6 text-center">
                    <h3>{{places.name}}</h3>
                    <h4>{{places.distance | number:2}} km away</h4>
                </div>
                <div class="col-lg-2 text-center">
                    <h2>10% <sup>off</sup></h2>
                </div>
            </div>
    </div>
    </div>
</div>