<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" metadata-complete="true" version="2.5">
  <display-name>MasterPassJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>OauthInitialServlet</display-name>
    <servlet-name>OauthInitialServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.OauthInitialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthInitialServlet</servlet-name>
    <url-pattern>/oauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreCheckoutServlet</display-name>
    <servlet-name>PreCheckoutServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.PreCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreCheckoutServlet</servlet-name>
    <url-pattern>/PreCheckout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PairingConfigurationServlet</display-name>
    <servlet-name>PairingConfigurationServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.PairingConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PairingConfigurationServlet</servlet-name>
    <url-pattern>/pairingConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PairingServlet</display-name>
    <servlet-name>PairingServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.PairingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PairingServlet</servlet-name>
    <url-pattern>/Pairing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantInitServlet</display-name>
    <servlet-name>MerchantInitServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.MerchantInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantInitServlet</servlet-name>
    <url-pattern>/MerchantInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PairingCallbackServlet</display-name>
    <servlet-name>PairingCallbackServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.PairingCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PairingCallbackServlet</servlet-name>
    <url-pattern>/PairingCallback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpressCheckoutServlet</display-name>
    <servlet-name>ExpressCheckoutServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.ExpressCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpressCheckoutServlet</servlet-name>
    <url-pattern>/ExpressCheckout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthShoppingCartServlet</display-name>
    <servlet-name>OauthShoppingCartServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.OauthShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthCallbackServlet</display-name>
    <servlet-name>OauthCallbackServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.OauthCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthCallbackServlet</servlet-name>
    <url-pattern>/OauthCallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthAccessTokenServlet</display-name>
    <servlet-name>OauthAccessTokenServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.OauthAccessTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthAccessTokenServlet</servlet-name>
    <url-pattern>/getAccessToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthCheckoutServlet</display-name>
    <servlet-name>OauthCheckoutServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.OauthCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthCheckoutServlet</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthPostbackServlet</display-name>
    <servlet-name>OauthPostbackServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.OauthPostbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthPostbackServlet</servlet-name>
    <url-pattern>/Postback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartInitialServlet</display-name>
    <servlet-name>CartInitialServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.CartInitialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartInitialServlet</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartCallbackServlet</display-name>
    <servlet-name>CartCallbackServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.CartCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartCallbackServlet</servlet-name>
    <url-pattern>/CartCallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartPostbackServlet</display-name>
    <servlet-name>CartPostbackServlet</servlet-name>
    <servlet-class>com.mastercard.mcwallet.sampleapp.servlets.CartPostbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPostbackServlet</servlet-name>
    <url-pattern>/CartPostback</url-pattern>
  </servlet-mapping>
  
</web-app>